/*
 * pal.login.css
 * ログインページのスタイル
*/

/* flexの定義 */
.flex-outer li,
.flex-inner {
  display       : flex;
  flex-wrap     : wrap;
  align-items   : center;
  margin-bottom : 8px;        /* added */
}
.flex-outer > li > label,
.flex-outer li p {
  flex          : 1 0 120px;
  max-width     : 220px;
  text-align    : right;      /* added */
  margin-right  : 12px;       /* added */
}
.flex-outer > li > label + *,
.flex-inner {
  flex      : 1 0 220px;
}
.flex-outer li button {
  margin-left     : auto;
  padding         : 8px 16px;
  border          : none;
  background      : #333;
  color           : #f2f2f2;
  text-transform  : uppercase;
  letter-spacing  : .09em;
  border-radius   : 2px;
}
.flex-inner li {
  width : 140px;
}
.flex-inner {
  justify-content : space-between;
}
.flex-outer > li > input {
   height            : 2.5em; 
   border            : 0.1em solid #ccc;
   border-radius     : 0.5em;
   padding           : 0em 1em;
   /* box-shadow        : 0em 0.1em 0.5em #ccc; */
}
/* input */
/*
 * .pal-login-input {
 *   width             : 30em;
 *   height            : 4em;
 *   border            : 0.1em solid #ccc;
 *   border-radius     : 0.5em;
 *   background-color  : #efefef;
 *   padding           : 0em 1em;
 *   font-size         : 1.2em;
 *   box-shadow        : 0em 0.1em 0.5em #ccc;
 * }
*/
/*
.pal-login-input {
  width             : 20em;
  height            : 2em;
  border            : 0.1em solid #ccc;
  border-radius     : 0.2em;
  background-color  : #f9f9f9;
  padding           : 0em 1em;
  font-size         : 1em;

  border            : 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px   rgba(0, 0, 0, 0.1),
          0 0 16px  rgba(0, 0, 0, 0.1);
  -moz-box-shadow:
    inset 0 0 8px   rgba(0, 0, 0, 0.1),
          0 0 16px  rgba(0, 0, 0, 0.1);
  box-shadow:
    inset 0 0 8px   rgba(0, 0, 0, 0.1),
          0 0 16px  rgba(0, 0, 0, 0.1);
  padding     : 15px;
  background  : rgba(255, 255, 255, 0.5);
  margin      : 0 0 10px 0;
}
*/
.pal-login-input:valid {
  color: green;
}
.pal-login-input:invalid {
  color: red;
}
.pal-login-input:required {
  border-color: black;
}
.pal-login-input:optional {
  border-color: gray;
}

/* ボタン */
.pal-login-button {
  border            : 0.1em #333336 solid;
  border-radius     : 0.2em;
  text-decoration   : none;
  color             : black;
  padding           : 0.5em 1em;
  background-color  : #f3f3f3;
}
.pal-login-button:hover {
  background-color  : #cececc;
}
.pal-login-button:active {
  background-color  : #a2b2bc;
}
