/*
 * pal.register.css
 * 登録ページのスタイル
*/

::placeholder {
  color       : #000;
  font-style  : italic;
}

::-webkit-input-placeholder {
  color       : #000;
  font-style  : italic;
}

::-moz-placeholder {
  color       : #000;
  font-style  : italic;
}

.red {
  color : red;
}

input[type=password]::-ms-reveal {
  display : none;
}

.pal-register-ul {
  -webkit-padding-start : 0.5em;
}

.pal-register-ul li {
  display         : flex;
  flex-wrap       : wrap;
  align-items     : center;
  padding-right   : 0.5em;
  padding-bottom  : 0.5em;
}

.pal-register-ul li label {
  width : 7em;
}

.pal-register-ul li input[type="text"],
.pal-register-ul li input[type="password"] {
  flex  : 1 1 auto;
}

.pal-register-ul li input[type="checkbox"] {
  flex        : none;
  width       : auto;
  margin-left : 7em;
}

.pal-register-ul li input[type="checkbox"] ~ label {
  width         : auto;
  padding-left  : 0.4em;
}
