/*
 * pal.weeklySchedule.css
 * 週間時間割のスタイル
*/

#schedule-registration-menu {
  display         : flex;
  list-style-type : none;
}

#schedule-registration-menu li a.current-page {
  display         : inline-block;
  padding         : 0.5rem;
  text-decoration : underline;
  background      : #999;
  transform       : scale(1.2);
}

#schedule-registration-menu li a.current-page::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.25rem;
  height: 0.25rem;
  /* background: url('images/pointer.svg') center no-repeat; */
  background-size: auto 100%;
}

#weekly-schedule {
  display               : grid;
  grid-template-columns : auto;
  grid-template-rows    : repeat( 7, 1fr );
}

.weekly-schedule-time {
  display: grid;
  grid-template-columns : 1fr;
  grid-template-rows    : 1fr;
}
.weekly-schedule-column {
  display               : grid;
  grid-template-columns : 1fr 36fr auto;
  grid-template-rows    : auto;
}

.time-list {
  display: grid;
  grid-template-columns : 1fr repeat(6, 0.7fr) repeat( 17, 1fr );
  grid-template-rows    : 1fr;
}

.time-list li {
  font-size: 70%;
  text-align: left;
  border: solid 1px black;
  cursor: pointer;
}

#weekly-schedule,
#weekly-schedule ul {
  list-style-type : none;
  padding-left:0.1em;
}

.weekly-schedule-row {
  background: #f88;
  text-align: center;
}

.weekly-schedule-time {
  background: #8f8;
  text-align: center;
}

.schedule-of-the-day {
  background: #88f;
  text-align: center;
}
