/*
 * pal.menu.css
 * メニューのスタイル
*/

#pal-menu-container {
  display         : flex;
  /* justify-content : center; */
  justify-content : flex-start;
  /* flex-direction  : column; */
}
.pal-menu-nav {
  cursor      : pointer;
  background  : #CCCCFF;
  height      : 36px;
  margin      : 12px;
  padding     : 4px;
}
#simple-list {
  flex-grow   : 1;
  flex-shrink : 2;
  flex-basis  : 150px;
}
#hierarchy-list {
  flex-grow   : 1;
  flex-shrink : 2;
  flex-basis  : 150px;
}
