#pal-event {
  display: flex;
}

#pal-event-create {
  /*position: absolute;
  top: 10px;
  left: 10px;*/
  width: 30%;
  margin-left: 2em;
  margin-bottom: 2em;
  display: inline-block;
}

#pal-event-read {
  /*position: absolute;
  right: 10px;*/
  width: 60%;
  margin-left: 2em;
  display: inline-block;
}

#pal-event-create div input[type="checkbox"] {
  width: 5%;
  display: inline-block;
  vertical-align: middle;
}

#pal-event-create div input[type="checkbox"]:focus {
  box-shadow: none;
}

#pal-event-create div label {
  width: 95%;
  display: inline-block;
  vertical-align: middle;
}

#pal-event-create form button {
  margin-top: 0.5em;
}

#pal-event-read ul {
  padding-inline-start: 1em;
}

#pal-event-read ul li {
  list-style: none;
}

