/*
 * pal.calendar.css
 * カレンダーのスタイル
*/

#calendar-menu ul {
  list-style-type: none;
  margin: 0rem;
  padding: 0px;
  display: flex;
}

#calendar-menu ul li {
  margin: 0.5rem;
}
#calendar-frame ul {
  list-style-type: none;
  margin                : 0rem;
  padding               : 0px;
  display               : grid;
  grid-template-columns : repeat(7, auto);
}

#calendar-frame ul li.column-title {
  background  : #9999CC;
  color       : #eee;
  text-align  : center;
  height      : 1.8rem;
  font-size   : 80%;
}

#calendar-frame ul li {
  height    : 3rem;
  color     : grey;
  font-size : 70%;
}

/* 今月の日付                                                       */
#calendar-frame ul li.current-month {
  color     : black;
  font-size : 80%;
}

