/*
 * pal.cycleSystem.css
 * サイクルシステムのスタイル
*/
body {
  line-height : 1.5;
}

* {
  color   : inherit;
  margin  : 0;
}
[role="tablist"] {
  padding: 0;
}

[role="tablist"] li,
[role="tablist"] a {
  display: inline-block;
}

[role="tablist"] a {
  text-decoration : none;
  padding         : 0.5rem 1em;
}

[role="tablist"] [aria-selected] {
  border        : 2px solid;
  background    : #fff;
  border-bottom : 0;
  position      : relative;
  top           : 2px;
}

[role="tabpanel"] {
  border  : 2px solid;
  padding : 0.5rem;
}

[role="tabpanel"] * + * {
  margin-top: 0.75em;
}

*:focus {
  outline     : none;
  box-shadow  : inset 0 0 0 4px lightBlue;
}

@media (max-width: 550px) {
  [role="tablist"] li,
  [role="tablist"] a {
    display   : block;
    position  : static;
  }

  [role="tablist"] a {
    border: 2px solid #222 !important;
  }

  [role="tablist"] li + li a {
    border-top: 0 !important;
  }

  [role="tablist"] [aria-selected] {
    position: static;
  }

  [role="tablist"] [aria-selected]::after {
    content: '\0020⬅';
  }

  [role="tabpanel"] {
    border-top: 0;
  }
}
[hidden] {
  display: none !important;
}

@media (min-width: 801px) {
  #section1 {
    display               : grid;
    grid-template-rows    : auto 2rem auto;
    grid-template-columns : 24rem auto;
  }
  
  #section1 > h1 {
    grid-row    : 1 / 2;
    grid-column : 1 / 3;
  }
  #pal-cyclesystem-current-date-title {
    grid-row    : 2 / 3;
    grid-column : 1 / 2;
  }
  #pal-cyclesystem-tasklist {
    grid-row    : 3 / 4;
    grid-column : 1 / 2;
  }
  #pal-cyclesystem-schedule {
    grid-row    : 2 / 4;
    grid-column : 2 / 3;
  }
}

[role="tooltip"] {
  display     : none;
  padding     : 0.25em;
  margin      : 0;
  color       : #fff;
  background  : #EF8100;
}

input:focus + [role="tooltip"] {
  display   : block;
  top       : 100%;
}

#pal-task-add {
  margin: 0;
}

/* formのgridの設定 */
#pal-task-add-form {
  display: grid;
  grid-template-rows    : repeat(10, 1.6rem) 2rem;
  grid-template-columns : 6rem 16rem;
}

#pal-task-add-form {
  margin  : 0.5rem;
}
#pal-task-add-form label,
#pal-task-add-form input,
#pal-task-add-form div,
#pal-task-add-form button {
  margin  : 0;
}

#pal-task-add-form label {
  justify-self  : right;
  padding-right : 0.5rem;
}

[for="title"] {
  grid-row      : 1/3;
  grid-column   : 1/2;
}

#title {
  grid-row      : 1/2;
  grid-column   : 2/3;
}

#title-tip {
  grid-row    : 2/3;
  grid-column : 2/3;
}

[for="start_time"] {
  grid-row    : 3/6;
  grid-column : 1/2;
}

#start_time {
  grid-row    : 3/4;
  grid-column : 2/3;
}

#start_time-control {
  grid-row    : 4/5;
  grid-column : 2/3;
}

#start_time-tip {
  grid-row    : 5/6;
  grid-column : 2/3;
}

[for="required_time"] {
  grid-row    : 6/9;
  grid-column : 1/2;
}

#required_time {
  grid-row    : 6/7;
  grid-column : 2/3;
}

#required_time-control {
  grid-row    : 7/8;
  grid-column : 2/3;
}

#required_time-tip {
  grid-row    : 8/9;
  grid-column : 2/3;
}

[for="priority"] {
  grid-row    : 9/12;
  grid-column : 1/2;
}

#priority {
  grid-row    : 9/10;
  grid-column : 2/3;
}

#priority-tip {
  grid-row    : 10/11;
  grid-column : 2/3;
}

[for="complete_status"] {
  grid-row    : 11/13;
  grid-column : 1/2;
}

#complete_status{
  grid-row    : 11/12;
  grid-column : 2/3;
}

#complete_status-tip {
  grid-row    : 12/13;
  grid-column : 2/3;
}

#task-add-button {
  grid-row    : 13/14;
  grid-column : 1/2;
}
/* formのgridの設定 ここまで */

/*
section:not(:target) {
  display: none;
}
*/

/*
#calendar-menu ul {
  list-style-type: none;
  margin: 0rem;
  padding: 0px;
  display: flex;
}

#calendar-menu ul li {
  margin: 0.5rem;
}
#calendar-frame ul {
  list-style-type: none;
  margin                : 0rem;
  padding               : 0px;
  display               : grid;
  grid-template-columns : repeat(7, auto);
}

#calendar-frame li {
  height    : 3rem;
  color     : grey;
  font-size : small;
}

#calendar-frame li.current-month {
  color     : black;
  font-size : large;
}

#calendar-frame li.column-title {
  background  : #9999CC;
  color       : #eee;
  text-align  : center;
  height      : 1.8rem;
  font-size   : medium;
}
*/
