/*
 * pal.dom.css
 * DOMのスタイル
*/

#pal {
  display             : grid;
  grid-template-rows  : 46px auto 38px;
}

#pal-header {
  grid-row              : 1;
  justify-content       : space-between;
  background            : #9999cc;
  display               : grid;
  grid-template-columns : 120px 4fr;
}

.pal-dom-header-title {
  grid-column : 1;
  grid-row    : 1;
}

.pal-dom-header-blank {
  grid-column : 2;
  grid-row    : 1;
}

.pal-dom-header-signup {
  grid-column : 3;
  grid-row    : 1;
}

.pal-dom-header-login {
  grid-column : 4;
  grid-row    : 1;
}

.pal-dom-header-logout {
  grid-column : 4;
  grid-row    : 1;
}

.pal-dom-header-menu {
  grid-column : 5;
  grid-row    : 1;
}

#pal-main {
  grid-row    : 2;
  background  : #eee;
}
p {
  color:  #222;
}

#pal-footer {
  grid-row          : 3;
  background  : #9999cc;
  color       : #eee;
}

  .pal-dom-header-title,
  .pal-dom-header-blank,
  .pal-dom-header-logout,
  .pal-dom-header-login,
  .pal-dom-header-menu,
  .pal-dom-header-signup {
    background      : #9999cc;
    color           : #eee;
    text-align      : center;
    padding-top     : 6px;
    padding-right   : 6px;
    padding-bottom  : 6px;
    padding-left    : 6px;
  }
    .pal-dom-header-title:hover {
      background  : #333399;
    }

    .pal-dom-header-signup:hover {
      background  : #333399;
    }

    .pal-dom-header-login:hover {
      background  : #333399;
    }

    div img,
    nav img {
      height  : calc( 1.3em + 0.25vw );
      width   : calc( 1.3em + 0.25vw );
    }
button svg {
  width   : 1em;
  height  : 1em;
}

.icon {
  display       : inline-block;
  width         : 1em;
  height        : 1em;
  stroke-width  : 0;
  stroke        : currentColor;
  fill          : currentColor;
}
/*
#pal-header {
  display         : flex;
  justify-content : space-between;
  background      : #9999cc;
}
  .pal-dom-header-title {
    flex-grow   : 0;
    flex-shrink : 0;
    flex-basis  : 94px;
  }
    .pal-dom-header-title:hover {
      background  : #333399;
    }
  .pal-dom-header-blank {
    flex-grow   : 20;
    flex-shrink : 1;
  }
  .pal-dom-header-logout {
    flex-grow   : 0;
    flex-shrink : 0;
    flex-basis  : 100px;
  }
  .pal-dom-header-login {
    flex-grow   : 0;
    flex-shrink : 0;
    flex-basis  : 100px;
  }
    .pal-dom-header-login:hover {
      background  : #333399;
    }
  .pal-dom-header-signup {
    flex-grow   : 0;
    flex-shrink : 0;
    flex-basis  : 116px;
  }
    .pal-dom-header-signup:hover {
      background  : #333399;
    }
  .pal-dom-header-menu {
    flex-grow   : 0;
    flex-shrink : 1;
    flex-basis  : 68px;
  }
    .pal-dom-header-menu:hover {
      background  : #333399;
    }
*/

/*
.pal-dom-footer {
  background  : #9999cc;
  color       : #fff;
  text-align  : center;
}
*/
