#pal-event {
  display: flex;
}

#pal-event-create {
  /*position: absolute;
  top: 10px;
  left: 10px;*/
  width: 30%;
  margin-left: 2em;
  margin-bottom: 2em;
  display: inline-block;
}

#pal-event-read {
  /*position: absolute;
  right: 10px;*/
  width: 60%;
  margin-left: 2em;
  display: inline-block;
}

#pal-event-create form label {
  display: inline-block;
  margin-left: 4px;
}

#pal-event-create form input {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 4px;
  margin-top: 0.1em;
  margin-bottom:  0.8em;
}

#pal-event-create form input:focus {
  border: 1px solid red;
}

#pal-event-create div input[type="checkbox"] {
  width: 5%;
  display: inline-block;
  vertical-align: middle;
}

#pal-event-create div input[type="checkbox"]:focus {
  box-shadow: none;
}

#pal-event-create div label {
  width: 90%;
  display: inline-block;
  vertical-align: middle;
}

#pal-event-create form button {
  margin-top: 0.5em;
}

#pal-event-read ul {
  padding-inline-start: 1em;
}

#pal-event-read ul li {
  list-style: none;
}

