/*
 * pal.register.css
 * 登録ページのスタイル
*/

::placeholder {
  color       : #000;
  font-style  : italic;
}

::-webkit-input-placeholder {
  color       : #000;
  font-style  : italic;
}

::-moz-placeholder {
  color       : #000;
  font-style  : italic;
}

.data-form input {
  margin-bottom: 7px;
}

button#registerUser {
  margin-top: 30px;
  margin-bottom: 10px
}

.field {
  max-width: 40em;
  padding-bottom: 10px;
}

.field label {
  display: block;
}

input#inputFirstName {
  width: 18em;
}
input#inputLastName {
  width: 18em;
}
input#inputEmail {
  width: 18em;
}
input#inputPassword {
  width: 18em;
}
/*
.field input {
  display: block;
}
*/

.field-label {
  display: block;
  font-weight: 700;
}

.field-hint {
  color: #000;
  margin-bottom: 5px;
  display: block;
}

.passwordRevealer {
  position: relative;
}

.passwordRevealer input {
  display: inline-block;
  padding-right: 70px;
}

.passwordRevealer button {
  display: inline-block;
  font-size: 1.125em;
}
