/*
 * pal.weeklySchedule.css
 * 週間時間割のスタイル
*/

#schedule-registration-menu button svg {
  width   : 1em;
  height  : 1em;
}

#schedule-registration-menu ul {
  /*
  display         : flex;
  */
  list-style-type : none;
  margin          : 0em;
  padding         : 0px;
  padding-left    : 1em;
}

/* 小さい画面では縦に表示する */
/*
@media screen and ( max-width: 40rem ) {
  #schedule-registration-menu ul {
    flex-direction  : column;
  }
}

#schedule-registration-menu ul li {
  height  : 2rem;
  margin  : 0.2em;
}

#schedule-registration-menu ul li a {
  margin-left     : 0rem;
  background      : #9999CC;
  margin          : 0rem;
  text-decoration : none;
}
*/
#schedule-registration-menu ul li a.current-page {
  display         : inline-block;
  padding         : 0.2rem;
  text-decoration : underline;
  background      : #666699;
  transform       : scale(1.1);
}

#schedule-registration-menu ul li a.current-page::after {
  content         : '';
  position        : absolute;
  left            : 0;
  right           : 0;
  bottom          : -0.25rem;
  height          : 0.25rem;
  /* background: url('images/pointer.svg') center no-repeat; */
  background-size : auto 100%;
}

/* 毎日の予定の登録用-開始 */
#regist-dayly {
  display               : grid;
  grid-template-columns : 1fr;
  grid-template-rows    : 1fr;
  padding-left          : 1em;
  padding-right         : 1em;
  list-style-type       : none;
}
#regist-dayly li {
  background      : #CCCCCC;
  margin          : 1px;
}
/* 毎日の予定の登録用-終了 */

/* 毎週の予定の登録用-開始 */
#weekly-schedule {
  display               : grid;
  grid-template-columns : 1fr;
  grid-template-rows    : 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left          : 1em;
  padding-right         : 1em;
}

.weekly-row {
  display               : grid;
  grid-template-columns : 4rem 1fr;
  grid-template-rows    : 1fr;
}

.date-column {
  display: grid;
  grid-template-columns : 1fr;
  grid-template-rows    : 1fr;
  list-style-type       : none;
  padding-left          : 0.1em;
}
.time-column {
  display               : grid;
  grid-template-columns : 1fr;
  grid-template-rows    : repeat(24, 1fr);
  list-style-type       : none;
  padding-left          : 0.1em;
}

.date-column li,
.time-column li {
  background  : #CCCCCC;
  margin      : 1px;
}
/* 毎週の予定の登録用-終了 */

/* 毎月の予定(日別)の登録用-開始 */
#dayly-schedule ul,
#dayly-schedule-by-order ul,
#yearly-schedule ul {
  list-style-type : none;
  margin          : 0em;
  padding         : 0px;
}
#dayly-schedule ul,
#dayly-schedule-by-order ul,
#yearly-schedule ul {
  display               : grid;
  grid-template-columns : 1fr;
  padding-left          : 1em;
  padding-right         : 1em;
}

#dayly-schedule ul li,
#dayly-schedule-by-order ul li,
#yearly-schedule ul li {
  background      : #CCCCCC;
  margin          : 1px;
}
/* 毎週の予定の登録用-開始 */
