/*
 * pal.dom.css
 * DOMのスタイル
*/

.pal-dom-header {
  display         : flex;
  justify-content : space-between;
  background      : #9999cc;
}
  .pal-dom-header-title,
  .pal-dom-header-blank,
  .pal-dom-header-login,
  .pal-dom-header-signup,
  .pal-dom-header-menu {
    height          : 32px;
    color           : #fff;
    text-align  : center;
    padding-top     : 5px;
    padding-right   : 2px;
    padding-bottom  : 4px;
    padding-left    : 2px;
  }
  .pal-dom-header-title,
  .pal-dom-header-login,
  .pal-dom-header-signup,
  .pal-dom-header-menu {
    cursor      : pointer;
  }
  .pal-dom-header-title {
    flex-grow   : 0;
    flex-shrink : 1;
    flex-basis  : 94px;
  }
    .pal-dom-header-title:hover {
      background  : #333399;
    }
  .pal-dom-header-blank {
    flex-grow   : 20;
    flex-shrink : 10;
  }
  .pal-dom-header-login {
    flex-grow   : 0;
    flex-shrink : 1;
    flex-basis  : 100px;
  }
    .pal-dom-header-login:hover {
      background  : #333399;
    }
  .pal-dom-header-signup {
    flex-grow   : 0;
    flex-shrink : 1;
    flex-basis  : 116px;
  }
    .pal-dom-header-signup:hover {
      background  : #333399;
    }
  .pal-dom-header-menu {
    flex-grow   : 0;
    flex-shrink : 1;
    flex-basis  : 68px;
  }
    .pal-dom-header-menu:hover {
      background  : #333399;
    }

.pal-dom-section {
  display     : block;
  height      : 90%;
}
  .pal-dom-section-article {
    display : block;
    height  : 80px;
  }

.pal-dom-footer {
  background  : #9999cc;
  color       : #fff;
  text-align  : center;
}

.pal-dom-menu-list {
  position    : fixed;
  top         : 25px;
  right       : 0px;
  left        : 87.5%;
  background  : #333399;
  color       : #fff;
  text-align  : center;
}
  .pal-dom-menu-list li {
    list-style-position : inside;
    cursor              : pointer;
    line-height: 1.8;
  }
    .pal-dom-menu-item-one {
    }
    .pal-dom-menu-item-two {
    }
    .pal-dom-menu-item-three {
    }
